<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meadowsage.guildgame.mapper.GameLogMapper">
    <insert id="insert">
        INSERT INTO game_log (world_id, person_id, quest_id, message, game_date, log_level)
        VALUES (#{worldId}, #{personId}, #{questId}, #{message}, #{gameDate}, #{logLevel.value})
    </insert>

    <select id="selectAll" resultType="com.meadowsage.guildgame.model.system.GameLog">
        SELECT *
        FROM game_log
        WHERE world_id = #{worldId}
          AND game_date = #{gameDate}
        ORDER BY created_at
    </select>

    <select id="select" resultType="com.meadowsage.guildgame.model.system.GameLog">
        SELECT *
        FROM game_log
        WHERE world_id = #{worldId}
        AND game_date = #{gameDate}
        <if test="questId != null">
            AND quest_id = #{questId}
        </if>
        <if test="withQuestIdNull == true">
            AND quest_id IS NULL
        </if>
        ORDER BY created_at
    </select>
</mapper>