<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meadowsage.guildgame.mapper.PartyMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="party.id">
        INSERT INTO party (world_id, name, leader_id)
        VALUES (#{worldId}, #{party.name}, #{party.leaderId})
    </insert>

    <insert id="insertPartyMembers">
        INSERT INTO party_member (party_id, person_id)
        VALUES
        <foreach item="personId" collection="personIds" separator=",">
            (#{partyId}, #{personId})
        </foreach>
    </insert>

    <select id="select" resultType="com.meadowsage.guildgame.model.person.Party">
        SELECT *
        FROM party p
        <where>
            <if test="worldId != null">
                p.world_id = #{worldId}
            </if>
            <if test="partyId != null">
                AND p.id = #{partyId}
            </if>
            <if test="isFree == true">
                -- 未完了の受注をしていない＝フリー
                AND NOT EXISTS(
                SELECT *
                FROM quest_order qo
                WHERE qo.party_id = p.id
                AND NOT EXISTS(
                SELECT *
                FROM quest_order_result qor
                WHERE qor.quest_order_id = qo.id
                )
                )
            </if>
        </where>
    </select>

    <select id="selectPartyMemberIds" resultType="java.lang.Long">
        SELECT person_id
        FROM party_member pm
        WHERE party_id = #{partyId}
    </select>

    <update id="updatePartyName">
        UPDATE party
        SET name = #{partyName}
        WHERE id = #{partyId}
    </update>

    <delete id="delete">
        DELETE
        FROM party
        WHERE id = #{partyId}
    </delete>

    <delete id="deletePartyMember">
        DELETE
        FROM party_member
        WHERE party_id = #{partyId}
          AND person_id = #{personId}
    </delete>
</mapper>