<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meadowsage.guildgame.mapper.PartyMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="party.id">
        INSERT INTO party (world_id, name)
        VALUES (#{worldId}, #{party.name})
    </insert>

    <insert id="insertPartyMembers">
        INSERT INTO party_member (party_id, person_id)
        VALUES
        <foreach item="partyMember" collection="partyMembers" open="(" separator="," close=")">
            #{id}, #{partyMember.id}
        </foreach>
    </insert>

    <select id="select" resultType="com.meadowsage.guildgame.model.person.Party">
        SELECT *
        FROM party p
        WHERE p.world_id = #{worldId}
    </select>

    <select id="selectPartyMemberIds" resultType="java.lang.Long">
        SELECT person_id
        FROM party_member pm
        WHERE party_id = #{partyId}
    </select>
</mapper>