<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meadowsage.guildgame.mapper.PersonMapper">
    <resultMap id="personMap" type="com.meadowsage.guildgame.model.person.Person" autoMapping="true">
        <association property="name" columnPrefix="n_" autoMapping="true"/>
        <association property="money" columnPrefix="m_" autoMapping="true"/>
        <association property="reputation" columnPrefix="r_" autoMapping="true"/>
        <association property="attributes" columnPrefix="a_" autoMapping="true"/>
        <association property="energy" columnPrefix="e_" autoMapping="true"/>
    </resultMap>

    <select id="select" resultMap="personMap">
        SELECT p.*,
               first_name  as n_first_name,
               family_name as n_family_name,
               money       as m_value,
               reputation  as r_value,
               battle      as a_battle,
               knowledge   as a_knowledge,
               support     as a_support,
               energy      as e_value
        FROM person p
        WHERE world_id = #{worldId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="person.id">
        INSERT INTO person (world_id,
                            first_name,
                            family_name,
                            money,
                            reputation,
                            battle,
                            knowledge,
                            support,
                            energy,
                            max_energy)
        VALUES (#{worldId},
                #{person.name.firstName},
                #{person.name.familyName},
                #{person.money.value},
                #{person.reputation.value},
                #{person.attributes.battle},
                #{person.attributes.knowledge},
                #{person.attributes.support},
                #{person.energy.value},
                #{person.maxEnergy})
    </insert>

    <update id="update">
        UPDATE person p
        SET money         = #{money.value},
            reputation    = #{reputation.value},
            is_adventurer = #{isAdventurer}
        WHERE p.id = #{id}
    </update>

    <update id="updateIsAdventurer">
        UPDATE person p
        SET is_adventurer = #{isAdventurer}
        WHERE p.id = #{id}
    </update>

    <delete id="delete">
        DELETE
        FROM person
        WHERE id = #{personId}
    </delete>
</mapper>