<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meadowsage.guildgame.mapper.QuestOrderMapper">

    <resultMap id="questOrderMap" type="com.meadowsage.guildgame.model.quest.QuestOrder" autoMapping="true">
        <id column="id" property="id"/>
        <!-- notNullColumnを指定しないと、Null時にidが設定されてしまう… -->
        <association property="questOrderResult" autoMapping="true" columnPrefix="qor_"
                     javaType="com.meadowsage.guildgame.model.quest.QuestOrderResult">
            <id column="game_date" property="gameDate"/>
        </association>
        <collection property="questOrderProgresses" autoMapping="true" columnPrefix="qop_"
                    ofType="com.meadowsage.guildgame.model.quest.QuestOrderProgress">
            <id column="game_date" property="gameDate"/>
        </collection>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO quest_order (quest_id, party_id)
        VALUES (#{questId}, #{partyId})
    </insert>

    <insert id="insertProgress">
        INSERT INTO quest_order_progress (quest_order_id, game_date, progress)
        VALUES (#{questOrderId}, #{progress.gameDate}, #{progress.progress})
    </insert>

    <insert id="insertResult">
        INSERT INTO quest_order_result (quest_order_id, game_date, is_succeeded)
        VALUES (#{questOrderId}, #{result.gameDate}, #{result.isSucceeded})
    </insert>

    <select id="select" resultMap="questOrderMap">
        SELECT qo.*,
        qop.game_date as qop_game_date,
        qop.progress as qop_progress,
        qor.game_date as qor_game_date,
        qor.is_succeeded as qor_is_succeeded
        FROM quest_order qo
        INNER JOIN quest q on q.id = qo.quest_id
        LEFT JOIN quest_order_progress qop on qo.id = qop.quest_order_id
        LEFT JOIN quest_order_result qor on qo.id = qor.quest_order_id
        WHERE q.world_id = #{worldId}
        <if test="isActive == true">
            AND qor.is_succeeded IS NULL
        </if>
        <if test="processedAt != null">
            AND qop.game_date = #{processedAt}
        </if>
        <if test="notProcessedAt != null">
          AND NOT EXISTS (
            SELECT qop2.quest_order_id
            FROM quest_order_progress qop2
            WHERE qo.id = qop2.quest_order_id AND qop2.game_date = #{notProcessedAt}
            )
        </if>
        <if test="completedAt != null">
            AND qor.game_date = #{completedAt}
        </if>
        ORDER BY qo.quest_id;
    </select>

    <update id="update">
    </update>

    <delete id="delete">
        DELETE
        FROM quest_order qo
        WHERE id = #{id};
    </delete>
</mapper>