<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meadowsage.guildgame.mapper.QuestMapper">

    <resultMap id="questMap" type="com.meadowsage.guildgame.model.quest.Quest" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="progresses" autoMapping="true" columnPrefix="qop_"
                    ofType="com.meadowsage.guildgame.model.quest.QuestOrderProgress">
            <id column="game_date" property="gameDate"/>
        </collection>
    </resultMap>

    <select id="select" resultMap="questMap">
        SELECT q.*,
        qop.game_date as qop_game_date,
        qop.progress as qop_progress
        FROM quest q
        LEFT JOIN quest_order qo on q.id = qo.quest_id
        LEFT JOIN quest_order_progress qop on qo.id = qop.quest_order_id
        <where>
            <if test="questId != null">
                AND q.id = #{questId}
            </if>
            <if test="worldId != null">
                AND q.world_id = #{worldId}
                -- 一括取得時は完了済のクエストを除外
                AND NOT EXISTS (
                SELECT id
                FROM quest_order qo
                INNER JOIN quest_order_result qor ON qo.id = qor.quest_order_id AND qor.is_succeeded = TRUE
                WHERE qo.quest_id = q.id
                )
            </if>
        </where>
        ORDER BY q.id
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="quest.id">
        INSERT INTO quest (world_id, content)
        VALUES (#{worldId}, #{quest.content})
    </insert>
</mapper>