<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meadowsage.guildgame.mapper.QuestMapper">
    <resultMap id="questMap" type="com.meadowsage.guildgame.model.quest.Quest" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="reservedBy" ofType="Long">
            <result column="reserved_by"/>
        </collection>
    </resultMap>

    <select id="select" resultMap="questMap">
        SELECT q.*,
               qo.person_id as reserved_by
        FROM quest q
                 LEFT JOIN quest_order qo ON q.id = qo.quest_id
        WHERE q.world_id = #{worldId}
          AND q.is_completed = false
        ORDER BY q.id
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="quest.id">
        INSERT INTO quest (world_id, type, difficulty)
        VALUES (#{worldId}, #{quest.type}, #{quest.difficulty})
    </insert>

    <update id="update">
        UPDATE quest q
        SET is_completed = #{isCompleted}
        WHERE q.id = #{id}
    </update>
</mapper>