<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meadowsage.guildgame.mapper.QuestMapper">

    <select id="select" resultType="com.meadowsage.guildgame.model.quest.Quest">
        SELECT q.*
        FROM quest q
        <where>
            <if test="questId != null">
                AND q.id = #{questId}
            </if>
            <if test="worldId != null">
                AND q.world_id = #{worldId}
                -- 一括取得時は完了済のクエストを除外
                AND NOT EXISTS (
                SELECT id
                FROM quest_order qo
                INNER JOIN quest_order_result qor ON qo.id = qor.quest_order_id AND qor.succeeded = TRUE
                WHERE qo.quest_id = q.id
                )
            </if>
        </where>
        ORDER BY q.id
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="quest.id">
        INSERT INTO quest (world_id, content)
        VALUES (#{worldId}, #{quest.content})
    </insert>
</mapper>