<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meadowsage.guildgame.mapper.QuestOrderMapper">
    <insert id="insert">
        INSERT INTO quest_order (person_id, quest_id)
        VALUES (#{personId}, #{questId})
    </insert>

    <delete id="delete">
        DELETE
        FROM quest_order qo
        WHERE quest_id = #{questId}
          AND person_id = #{personId};
    </delete>

    <delete id="deleteAll">
        DELETE
        FROM quest_order qo
            USING world w
        WHERE w.id = #{worldId};
    </delete>
</mapper>